    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ArticleList</title>
    </head>
    <body>

    <div th:if="${userId != null}">
        <span th:text="${userId} + '님 반갑습니다.'"></span>
        <button th:onClick="|location.href='@{/user/logout}'|" th:text="로그아웃"></button>
    </div>

    <div th:unless="${userId != null}">
        <button th:onClick="|location.href='@{/user/login}'|" th:text="로그인"></button>
        <button th:onClick="|location.href='@{/user/register}'|" th:text="회원가입"></button>
    </div>

    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>작성자</td>
            <td>제목</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="data : ${list}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.name}"></td>
            <td th:if="${data.depth} gt 0">
                <a th:href="@{/board/{id} (id = ${data.id})}"
                   th:text="${#strings.repeat('&nbsp;&nbsp;', data.depth) + 'RE: ' + data.title}"></a>
            </td>
            <td th:unless="${data.depth} gt 0">
                <a th:href="@{/board/{id} (id = ${data.id})}" th:text="${data.title}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/board}" method="get">
        <label for="검색" th:text="'제목 검색'"></label>
        <input id="검색" name="search">
        <button type="submit" th:text="검색"></button>
    </form>

    <div>
        <button th:onClick="|location.href='@{board/new}'|" th:text="'새 글쓰기'"></button>
        <button th:onClick="|location.href='@{board/recently-view}'|" th:text="'최근 본 목록'"></button>
    </div>

    <div>
    <span th:if="${totalPages > 0}" th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{/board(pageSize=${pageSize}, pageNumber=${pageNum}, search=${search})}" th:text="${pageNum}"></a>
    </span>
        <span th:unless="${totalPages > 0}" th:text="1"></span>
    </div>

    </html>